# All
.env


### Le dossier contenant toute la data nettoyé en général
# processed

*.pst
*.mbox
*.eml
*.parquet

*.ics
*.vcf
*.contacts
*.calendar

.DS_Store

*.docx
*.zip
# Ignore all pkl files
*.pkl

# But not these specific files
!app/components/.streamlit/users.pkl

# Specific pkl files to ignore
emails_with_embeddings_improved.pkl
emails_with_embeddings_sample.pkl

# embeddings files
# 0.residuals.pt

*.db
*.duckdb*

.env
*.log
# *.json

scaleway_p_key
scaleway_p_key.pub

# Julien
*pycache*
.python-version
elasticsearch-8.12.1-linux-x86_64.tar.gz
elasticsearch-8.12.1
dump

## Scaleways
venv
ju
ju.pub


.ragatouille copy

# Generated model indexes and temp data (removed from LFS)
.ragatouille/
**/temp_graph_data.csv
**/Graphs/
0.residuals.pt

# Large generated data files
app/components/topic_modeling/bertopic_output.csv
**/semantic_search/topic/temp_chunks.csv
**/emails_with_embeddings*.pkl
**/emails_with_clusters.pkl
**/emails_with_embeddings.pkl
