# All
.env


### Le dossier contenant toute la data nettoyé en général
# processed

*.pst
*.mbox
*.eml

*.ics
*.vcf
*.contacts
*.calendar

.DS_Store

*.docx
*.zip

*.db
*.duckdb*

.env
*.log
*.json

# Julien
*pycache*
.python-version
elasticsearch-8.12.1-linux-x86_64.tar.gz
elasticsearch-8.12.1
dump

# Scaleways
venv
