# All
.env


### Le dossier contenant toute la data nettoyé en général
# processed

*.pst
*.mbox
*.eml

*.ics
*.vcf
*.contacts
*.calendar

.DS_Store

*.docx
*.zip
*.pkl
emails_with_embeddings_improved.pkl
emails_with_embeddings_sample.pkl

*.db
*.duckdb*

.env
*.log
# *.json
etat_upload_joel.json

scaleway_p_key
scaleway_p_key.pub

# Julien
*pycache*
.python-version
elasticsearch-8.12.1-linux-x86_64.tar.gz
elasticsearch-8.12.1
dump

